.shop-image {
    text-align: center;
}

.shop-image img {
    max-width: 100%;
}

.shop-name, .shop-price {
    color: #333;
    font-size: 2.5em;
    text-decoration: none;
    padding-top: 0.5em;
    text-align: center;
}