<div class="uk-grid-small" uk-grid>
  <div class="uk-width-1-2@m">
    <h2 class="uk-heading-divider">Fans and Alumni</h2>
    Want to stay up to date with the latest in Georgia Tech Hockey News? Fill out the form below and we'll add you to our mailing
    list. We hate spam too, at the most you'll receive a few emails a month from us during the season.
    <form (ngSubmit)="submitForm()">
      <div class="uk-margin">
        <div class="uk-alert-danger" uk-alert *ngIf="errors.name">
            <p>{{ errors.name }}</p>
        </div>
        <input type="text" [(ngModel)]="model.name" name="name" required id="id_name" class="uk-input" placeholder="Full Name"/>
      </div>
      
      <div class="uk-margin">
        <div class="uk-alert-danger" uk-alert *ngIf="errors.email">
            <p>{{ errors.email }}</p>
        </div>
        <input type="text" [(ngModel)]="model.email" name="email" required id="id_email" class="uk-input" placeholder="Email Address" />
      </div>

      <div class="uk-margin">
        <div class="uk-alert-danger" uk-alert *ngIf="errors.relation">
          <p>{{ errors.relation }}</p>
        </div>
        <label><input type="radio" class="uk-radio" [(ngModel)]="model.relation" name="relation" [value]="1" required /> I'm a GT Hockey Alum</label><br />
        <label><input type="radio" class="uk-radio" [(ngModel)]="model.relation" name="relation" [value]="2" required /> I'm a regular GT Alum</label><br />
        <label><input type="radio" class="uk-radio" [(ngModel)]="model.relation" name="relation" [value]="3" required /> I'm related to a GT Hockey Player/Alum</label><br />
        <label><input type="radio" class="uk-radio" [(ngModel)]="model.relation" name="relation" [value]="4" required /> I'm a regular fan</label><br />
      </div>

      <div class="uk-margin">
        <div class="uk-alert-danger" uk-alert *ngIf="errors.captcha">
            <p>{{ errors.captcha }}</p>
        </div>
        <re-captcha [(ngModel)]="model.captcha" name="captcha"  siteKey="{{ recaptchaKey }}"></re-captcha>
      </div>
    
      <input class="uk-button uk-button-primary" type="submit" value="Submit" />
    </form>
    <div class="uk-alert-success" uk-alert *ngIf="success"><p>Thanks for reaching out. We will get back to you shortly!</p></div>
  </div>

  <div class="uk-width-1-2@m">
    <h2 class="uk-heading-divider">Sponsorships</h2>
    <p>Are you a local business or individual looking to get involved with GT Hockey? We would love to set up a sponsorship deal
      with you. Drop us a line on our contact form below and we will get back to you to discuss available options.
    </p>
    <a href="/contact/">
      <div class="button">Contact Us!</div>
    </a>

    <h2 class="uk-heading-divider">Donate to the Team</h2>
    <p>If you are looking to support the team in another way, we are always very appreciative of any donations. GT Hockey is a
      self-supported team that relies on player dues and funding from the school. Any individual donations are a huge help
      in ensuring the continued success of the team.</p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="paypal">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="2MEXK924Y38Z4">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>

  </div>
</div>