<div class="col-lg-6">
  <h4 class="page-title">Fans and Alumni</h4>
  Want to stay up to date with the latest in Georgia Tech Hockey News? Fill out the form below and we'll add you to our mailing
  list. We hate spam too, at the most you'll receive a few emails a month from us during the season.
  <form (ngSubmit)="submitForm()">
    <table class="form">
      <tr>
        <th>
          <label for="id_name">Name</label>
        </th>
        <td>
          <ul *ngIf="errors.name" class="errorlist">
            <li>{{ errors.name }}</li>
          </ul>
          <input type="text" [(ngModel)]="model.name" name="name" required id="id_name" />
        </td>
      </tr>
      <tr>
        <th>
          <label for="id_email">Email</label>
        </th>
        <td>
            <ul *ngIf="errors.email" class="errorlist">
              <li>{{ errors.email }}</li>
            </ul>
          <input type="email" [(ngModel)]="model.email" name="email" required id="id_email" />
        </td>
      </tr>
      <tr>
        <th></th>
        <td>
          <ul *ngIf="errors.relation" class="errorlist">
            <li>{{ errors.relation }}</li>
          </ul>
          <ul id="id_relation">
            <li>
              <label for="id_relation_0">
                <input type="radio" [(ngModel)]="model.relation" name="relation" value="1" required id="id_relation_0" /> I&#39;m a GT Hockey Alum</label>
            </li>
            <li>
              <label for="id_relation_1">
                <input type="radio" [(ngModel)]="model.relation" name="relation" value="2" required id="id_relation_1" /> I&#39;m a regular GT Alum</label>
            </li>
            <li>
              <label for="id_relation_2">
                <input type="radio" [(ngModel)]="model.relation" name="relation" value="3" required id="id_relation_2" /> I&#39;m related to GT Hockey player</label>
            </li>
            <li>
              <label for="id_relation_3">
                <input type="radio" [(ngModel)]="model.relation" name="relation" value="4" required id="id_relation_3" /> I&#39;m a regular fan</label>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <th></th>
        <td>
          <ul *ngIf="errors.captcha" class="errorlist">
            <li>{{ errors.captcha }}</li>
          </ul>
          <re-captcha [(ngModel)]="model.captcha" name="captcha" (response)="handleCorrectCaptcha($event)"  siteKey="{{ recaptchaKey }}"></re-captcha>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input class="submit" type="submit" value="Submit" formmethod="post" />
        </td>
      </tr>
    </table>
  </form>
  <div *ngIf="success" class="form-success">Thanks for reaching out. We will get back to you shortly!</div>
</div>

<div class="col-lg-6">
  <h4 class="page-title">Sponsorships</h4>
  <p>Are you a local business or individual looking to get involved with GT Hockey? We would love to set up a sponsorship deal
    with you. Drop us a line on our contact form below and we will get back to you to discuss available options.
  </p>
  <a href="/contact/">
    <div class="button">Contact Us!</div>
  </a>
</div>

<div class="col-lg-6">
  <h4 class="page-title">Donate to the Team</h4>
  <p>If you are looking to support the team in another way, we are always very appreciative of any donations. GT Hockey is a
    self-supported team that relies on player dues and funding from the school. Any individual donations are a huge help
    in ensuring the continued success of the team.</p>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="paypal">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="2MEXK924Y38Z4">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>

</div>