<div class="row">
  <div class="header-img"><img src="/assets/img/header.png" /></div>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
          <li routerLinkActive="active"><a routerLink="/schedule/">Schedule</a></li>
          <li routerLinkActive="active"><a routerLink="/roster/">Roster</a></li>
          <li routerLinkActive="active"><a routerLink="/board/">Board & Coaches</a></li>
          <li routerLinkActive="active"><a routerLink="/prospect/">Prospective Players</a></li>
          <li routerLinkActive="active"><a routerLink="/contact/">Contact</a></li>
          <li routerLinkActive="active"><a routerLink="/involvement/">Get Involved</a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/shop/">Shop</a></li>
          <li routerLinkActive="active"><a routerLink="/cart/">Cart</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div id="content" class="row">
    <div id="main" class="col-md-8 col-lg-9">
        <router-outlet></router-outlet>
    </div> <!--End col-md-8 columns -->
    <div id="sidebar" class="col-md-4 col-lg-3">
      <app-sidebar-record></app-sidebar-record>
      <app-sidebar-countdown></app-sidebar-countdown>
      <div class="sidebar-content">
        <a class="twitter-timeline" href="https://twitter.com/GT_Hockey" data-widget-id="299732266605748224">Tweets by @GT_Hockey</a>
      </div>
      <div class="sidebar-content">
        <div class="fb-page" data-href="https://www.facebook.com/pages/Georgia-Tech-Hockey/85852244494" data-width="330" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
        <div id="fb-root"></div>
      </div>
      <div class="sidebar-content">
        <!-- TODO Space for calendar -->
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div> <!-- End body row -->
