* {
    box-sizing: border-box;
}

.header-img  img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #FFF;
}

.navbar-inverse .nav>li.active>a {
    background-color: #b08d45;
}

.nav>li>a{
    color: #FFF;
}

.nav>li>a:hover {
    background-color: #b08d45 !important;
}

.nav>li:after {
    content: ' ';
    position: absolute;
    right: -1px;
    top: 50%;
    border-left:1px solid #383838;
    width: 1px;
    height: 20px;
    margin: -7px 0 0 0;
}

#content {
    background-color: #fff;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    padding: 35px;
}

#main, #sidebar {
    padding: 10px;
    padding-top:0;
}

#sidebar {
    border-left: 1px #CCC solid;
}



.hidden {
    display: none;
}