<div class="uk-container">
  <div class="header-img uk-visible@l"><img src="/assets/img/header.png" /></div>

  <nav class="uk-navbar-container uk-margin uk-visible@l" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
        <li routerLinkActive="uk-active"><a routerLink="/schedule/">Schedule</a></li>
        <li routerLinkActive="uk-active"><a routerLink="/roster/">Roster</a></li>
        <li routerLinkActive="uk-active"><a routerLink="/board/">Board & Coaches</a></li>
        <li routerLinkActive="uk-active"><a routerLink="/prospect/">Prospective Players</a></li>
        <li routerLinkActive="uk-active"><a routerLink="/contact/">Contact</a></li>
        <li routerLinkActive="uk-active"><a routerLink="/involvement/">Get Involved</a></li>
        <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/shop/">Shop</a></li>
        <li routerLinkActive="uk-active"><a routerLink="/cart/">Cart</a></li>
      </ul>
    </div>
  </nav>
  <nav class="uk-navbar-container uk-hidden@l" uk-navbar="mode: click; dropbar: true; dropbar-mode: push">
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li>
          <a class="uk-navbar-toggle" href="#">
            <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">GT Hockey</span>
          </a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
              <li routerLinkActive="uk-active"><a routerLink="/schedule/">Schedule</a></li>
              <li routerLinkActive="uk-active"><a routerLink="/roster/">Roster</a></li>
              <li routerLinkActive="uk-active"><a routerLink="/board/">Board & Coaches</a></li>
              <li routerLinkActive="uk-active"><a routerLink="/prospect/">Prospective Players</a></li>
              <li routerLinkActive="uk-active"><a routerLink="/contact/">Contact</a></li>
              <li routerLinkActive="uk-active"><a routerLink="/involvement/">Get Involved</a></li>
              <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/shop/">Shop</a></li>
              <li routerLinkActive="uk-active"><a routerLink="/cart/">Cart</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div id="content" class="uk-grid-collapse" uk-grid>
    <div id="main" class="uk-width-expand">
      <router-outlet></router-outlet>
    </div>
    <div id="sidebar" class="uk-width-1-4 uk-visible@m">
      <app-sidebar-record></app-sidebar-record>
      <app-sidebar-countdown></app-sidebar-countdown>
      <div class="sidebar-content">
        <a class="twitter-timeline" href="https://twitter.com/GT_Hockey" data-widget-id="299732266605748224">Tweets by @GT_Hockey</a>
      </div>
      <div class="sidebar-content">
        <div class="fb-page" data-href="https://www.facebook.com/pages/Georgia-Tech-Hockey/85852244494" data-width="330" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
        <div id="fb-root"></div>
      </div>
    </div>
  </div>
</div>
