<div class="uk-alert-success" uk-alert *ngIf="success"><p>This item was successfully added to your cart!</p></div>
<form (ngSubmit)="submitForm()" *ngIf="model" #form="ngForm">
  <div class="uk-margin" *ngFor="let optionlist of model.shopItem.options">
    <div class="uk-alert-danger" uk-alert *ngIf="option_unselected[optionlist.id]">
        <p>Must select one</p>
    </div>
    <select class="uk-select" [(ngModel)]="model.options[optionlist.id]" name="option-{{ optionlist.id }}" id="id_option-{{ optionlist.id }}">
      <option value="0" selected>{{ optionlist.display_name }}</option>
      <option *ngFor="let option of getOptions(optionlist.option_list)" value="{{ option }}">{{ option }}</option>
    </select>
  </div>
  <div class="uk-margin" *ngFor="let custom_option of model.shopItem.custom_options">
    <div class="uk-position-relative">
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: info"></span>
      <input type="text"
              class="uk-input"
              [attr.uk-tooltip]="custom_option.help_text"
              [(ngModel)]="model.custom_options[custom_option.id]"
              name="custom_option-{{ custom_option.id }}"
              id="id_custom_option-{{ custom_option.id }}"
              placeholder="{{ custom_option.display_name }} (+${{ custom_option.extra_cost }})" />
    </div>
  </div>
  <input class="uk-button uk-button-primary" type="submit" value="Add To Cart" />  
</form>