<form (ngSubmit)="submitForm()">
  <table class="uk-table uk-table-divider">
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartService.allItems(); let i = index">
        <td>
          <p class="uk-margin-remove uk-text-bold">{{ item.shopItem.name }}</p>
          <div *ngFor="let option of item.getOptions()">
            {{ option }}
          </div>
          <div *ngFor="let custom_option of item.getCustomOptions()">
            {{ custom_option }}
          </div>
        </td>
        <td>1</td>
        <td>${{ cartService.getPrice(item) }}</td>
        <td><a class="uk-button uk-button-danger" (click)="removeFromCart(i)">Remove</a></td>
      </tr>
      <tr>
        <td>Total Cost</td>
        <td></td>
        <td>${{ cartService.totalCost() }}</td>
      </tr>
    </tbody>
  </table>
</form>