<div *ngIf="game" class="sidebar-content">
  <div class="countdown">
    <div id="countdown-primary" class="countdown-inner">
      <div class="countdown-title">Next Game</div>
      <div class="countdown-date">{{ game.date | date:'shortDate' }}</div>
      <div class="clear"></div>
      <img class="countdown-logo" src="{{ image }}" />
      <div class="countdown-team">{{ game.opponent }}</div>
      <div class="countdown-location">{{ game.location }}</div>
      <div class="countdown-starttime">{{ game.date | date:'shortTime' }}</div>
      <div class="countdown-time" attr.uk-countdown="date: {{ game.date }}">
        <span id="countdown-days"><span class="uk-countdown-days"></span><small>days</small></span>
        <span id="countdown-hours"><span class="uk-countdown-hours"></span><small>hours</small></span>
        <span id="countdown-mins"><span class="uk-countdown-minutes"></span><small>mins</small></span>
        <span id="countdown-secs"><span class="uk-countdown-seconds"></span><small>secs</small></span>
      </div>
    </div>
  </div>
</div>