<div class="schedule">
    <div *ngFor="let game of games" class="schedule-item row game-game.venue">
    	<div *ngIf="game.is_reported" class="col-lg-2 col-xs-6 col-sm-6">{{ game.short_result }}</div>
    	<div *ngIf="game.is_reported" class="col-lg-3 col-xs-6 col-xs-6">{{ game.score_gt_final }}-{{ game.score_opp_final}}</div>
      <div *ngIf="game.is_reported == false" class="schedule-date col-lg-3 col-xs-6 col-sm-6">{{ game.date | date:'shortDate' }}</div>
      <div *ngIf="game.is_reported == false" class="schedule-time col-lg-2 col-xs-6 col-sm-6">{{ game.date | date:'shortTime' }}</div>
      <div class="schedule-school col-lg-3 col-xs-12 col-sm-12">{{ game.opponent }}</div>
      <div class="schedule-rink col-lg-4 col-xs-12 col-sm-12">@ {{ game.location }}</div>
      <div class="clear"></div>
    </div>
</div>