/* Recent Games Table */
.page-item {
    margin-top: 10px;
}

.sub-title {
    font-size: 1.5em;
    border-bottom: 1px solid #aaa;
    width:100%;
    margin-bottom: 10px;
}

.recent {
    overflow: auto;
    height: 41px;
    border-bottom: 1px dotted #aaa;
}

.recent-result, .recent-score, .recent-date, .recent-opponent {
    height: 40px;
    padding-bottom: 5px;
}

.recent-result {
    font-size: 1.5em;
    padding-top:5px;
    text-align:center;
    font-weight: 600;
}

.recent-score {
    text-align: center;
    padding-top: 5px;
    font-size: 1.5em;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.recent-date {
    padding-top: 8px;
    font-size: 1.2em;
}

.recent-opponent {
    padding-top: 8px;
    font-size: 1.2em;
    padding-left: 0 !important;
    font-style: italic;
}