.board-card {
    margin: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px;
    color: #333;
    background-color: #fafafa;
}

.board-card img {
    padding-right: 15px;
    padding-bottom: 5px;
}

.board-name, .board-email {
    margin: 0;
    color: #333;
}

.board-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom:10px;
}

.board-name {
    font-size: 1.2em;
}

.board-email a {
    text-decoration: none;
    font-style: italic;
    color: inherit;
}

.board-email a:hover {
    color: inherit;
}

.board-desc {
    clear: left;
}

.coach-card {
    clear: left;
    width: 90%;
    margin: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: #fafafa;
    overflow: auto;
    padding: 10px;
}

.coach-card img {
    float: left;
    padding-right: 10px;
}

.coach-name {
    font-size: 1.5em;
}

.coach-bio {
    margin-left: 90px;
}