{% include "header.html" %}

<div class="clear">
    <div class="page-title">About the Student Board</div>
    <p>
        The Georgia Tech Ice Hockey Club is a student-run organization. While we do have a coaching staff, they are
        primarily responsible for handling the on-ice performance of the team, supporting the student board with
        off-ice operations only when necessary.
    </p>
    <p>
        Every spring after the conclusion of the season, the team holds a meeting to elect a new group of board members.
        These players are then entrusted with preparing the team for and managing the team throughout the season.
    </p>
</div>

<div class="row">
    <div class="board-card col-lg-5 col-md-12 col-md-12">
        <img src="http://placehold.it/80x100" style="float:left" />
        <p class="board-title">President</p>
        <p class="board-name">Drew Galbraith</p>
        <p class="board-email"><a href="mailto:dgalbraith33@gmail.com">dgalbraith33@gmail.com</a></p>
        <p class="board-desc">Responsible for the continued operation and success of the hockey club. Most external inquires can be directed to the President.</p>
    </div>
    <div class="board-card col-lg-5 col-md-12 col-md-12">
        <img src="http://placehold.it/80x100" style="float:left" />
        <p class="board-title">Vice President</p>
        <p class="board-name">Joey Schutz</p>
        <p class="board-email"><a href="mailto:joey0schutz@gmail.com">joey0schutz@gmail.com</a></p>
        <p class="board-desc">Responsible for supporting the President and ensuring club trips and events run smoothly and efficiently.</p>
    </div>
    <div class="board-card col-lg-5 col-md-12 col-md-12 clear">
        <img src="http://placehold.it/80x100" style="float:left" />
        <p class="board-title">Treasurer</p>
        <p class="board-name">Caleb Rudnicki</p>
        <p class="board-email"><a href="mailto:calebrudnicki@gmail.com">calebrudnicki@gmail.com</a></p>
        <p class="board-desc">Responsible for collecting dues, handling the budget, and processing payments made by the club. Any inquiries about outstanding balances and invoices should be directed to the Treasurer.</p>
    </div>
    <div class="board-card col-lg-5 col-md-12 col-md-12">
        <img src="http://placehold.it/80x100" style="float:left" />
        <p class="board-title">Secretary</p>
        <p class="board-name">Nick Markwordt</p>
        <p class="board-email"><a href="mailto:nmarkwordt@gatech.edu">nmarkwordt@gatech.edu</a></p>
        <p class="board-desc">Responsible for the handling paperwork and administrative tasks for the club. Any inquiries about club administration and paperwork should be directed to the Secretary.</p>
    </div>
    <div class="board-card col-lg-5 col-md-12 col-md-12 clear">
        <img src="http://placehold.it/80x100" style="float:left" />
        <p class="board-title">Public Relations</p>
        <p class="board-name">Zach Cernich</p>
        <p class="board-email"><a href="mailto:zcernich3@gatech.edu">zcernich3@gatech.edu</a></p>
        <p class="board-desc">Responsible for promoting the club and increasing its online/social media presence. Any inquires about promotional events and opportunities can be direct to the PR Officer.</p>
    </div>
</div>


{% include "footer.html" %}