{% include "header.html" %}

<div class="page-title">
    About the Coaches
</div>

<div class="coach-card">
    <img src="//placehold.it/80x100" />
    <div class="coach-name">Bob Cernich - Head Coach</div>
    <div class="coach-bio">
        Coach Cernich has been involved in the Atlanta youth hockey community for many years and has
        successfully coached several youth team to the national tournament. He joined the coaching staff at the
        start of the 2015-16 season looking to usher in a new era of GT Hockey more focused on team play than
        individual accomplishment.
    </div>
</div>

<div class="coach-card">
    <img src="//placehold.it/80x100" />
    <div class="coach-name">Paul Gattung - Manager</div>
    <div class="coach-bio">
        Coach Gattung has been involved with GT Hockey ever since his son Christian played on the team
        many years ago. Gattung has been instrumental in growing and promoting the team on and off the ice. And can
        be seen as the team's liaison at Regional and National ACHA events. He also serves as the unofficial contact
        for alumni events and relations.
    </div>
</div>

<div class="coach-card">
    <img src="//placehold.it/80x100" />
    <div class="coach-name">Joe Kraft - Assistant Coach</div>
    <div class="coach-bio">
        Joe Kraft arrived on the scene recently to serve as an Assistant Coach and has been very helpful both on and off
        the ice. When not on the Georgia Tech bench Coach Kraft is also involved in the Atlanta youth hockey community,
        coaching a PeeWee team and grooming the next generation of Tech hockey players.
    </div>
</div>

<div class="coach-card">
    <img src="//placehold.it/80x100" />
    <div class="coach-name">Maxx Lucas - Assistant/Goaltender Coach</div>
    <div class="coach-bio">
        Maxx joined the coaching staff for the 2015-16 season after completing his Master's Degree in Aerospace Engineering
        the previous season and exhausting his ACHA eligibility. Pursuing his PhD at Tech, Maxx now uses his extensive
        knowledge of the game to help the team's current goaltenders grow and develop. He has also worked to vastly
        improve the team's pre-season and in-season off-ice training regimen.
    </div>
</div>

{% include "footer.html" %}