{% include "header.html" %}

<div class="page-title">
    About the Coaches
</div>

<div class="coach-card">
    <img src="//placehold.it/80x100" />
    <div class="coach-name">Bob Cernich - Head Coach</div>
    <div class="coach-bio">
        Coach Cernich has been involved in the Atlanta youth hockey community for many years and has
        successfully coached several youth team to the national tournament. He joined the coaching staff at the
        start of the 2015-16 season looking to usher in a new era of GT Hockey more focused on team play than
        individual accomplishment.
    </div>
</div>

<div class="coach-card">
    <img src="//placehold.it/80x100" />
    <div class="coach-name">Paul Gattung - Manager</div>
    <div class="coach-bio">
        Coach Gattung has been involved with GT Hockey ever since his son Christian played on the team
        many years ago. Gattung has been instrumental in growing and promoting the team on and off the ice. And can
        be seen as the team's liaison at Regional and National ACHA events. He also serves as the unofficial contact
        for alumni events and relations.
    </div>
</div>

{% include "footer.html" %}