{% load staticfiles %}
        </div> <!--End col-md-8 columns -->
        <div id="sidebar" class="col-md-4 col-lg-3">
            <div class="sidebar-content">
                <div class="countdown">
                    <div id="countdown-primary" class="countdown-inner">
                        <div class="countdown-title">Next Game</div>
                        <div class="countdown-date"></div>
                        <div class="clear"></div>
                        <img class="countdown-logo" src="//placehold.it/80x80" />
                        <div class="countdown-team"></div>
                        <div class="countdown-location"></div>
                        <div class="countdown-starttime"></div>
                        <div class="countdown-time">
                            <span id="countdown-days">0<small>days</small></span>
                            <span id="countdown-hours">0<small>hours</small></span>
                            <span id="countdown-mins">0<small>mins</small></span>
                            <span id="countdown-secs">0<small>secs</small></span>
                        </div>
                    </div>
                    <div id="countdown-alt" class="countdown-inner hidden">
                        No upcoming events. Schedule will be added soon, check back later.
                    </div>
                </div>
            </div>
            <div class="sidebar-content">
                <a class="twitter-timeline" href="//twitter.com/GT_Hockey" data-widget-id="585563417941016576">Tweets by @GT_Hockey</a>
            </div>
            <div class="sidebar-content">
                <div class="fb-page" data-href="//www.facebook.com/pages/Georgia-Tech-Hockey/85852244494" data-width="330" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
                <div id="fb-root"></div>

            </div>
            <div class="sidebar-content">
                Space for calendar
            </div>
        </div>
    <div class="clear"></div>
    </div>
    </div> <!-- End body row -->
</div> <!-- End container -->
    <!-- Twitter API Script -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <!-- FB API Script -->
        	<script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '919795671393386',
          xfbml      : true,
          version    : 'v2.3'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static "js/main.js" %}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
