<div class="uk-grid-small" *ngIf="item" uk-grid>
    <div class="uk-width-1-3@m">
        <app-carousel [carouselItems]="imageCarousel"></app-carousel>
    </div>
    <div class="uk-width-2-3@m">
        <h1 class="uk-text-center uk-margin-remove-bottom">{{ item.name }}</h1>
        <h2 class="uk-heading-line uk-text-center uk-margin-small-top"><span>${{ item.price }}</span></h2>
        <p *ngFor="let paragraph of paragraphs(item.description)" [innerHTML]="paragraph"></p>
    </div>
</div>
<hr class="uk-divider-icon">
<app-item-form></app-item-form>