<div *ngIf="item">
    <div class="row">
        <div class="col-lg-4">
            <app-carousel [carouselItems]="imageCarousel"></app-carousel>
        </div>
        <div class="col-lg-8">
            <h3>{{ item.name }}</h3>
            <h4>${{ item.price }}</h4>
            <p *ngFor="let description_p of paragraphs(item.description)">{{ description_p }}</p>
        </div>
    </div>
    <hr/>
    <app-item-form *ngIf="item.in_stock"></app-item-form>
    <div class="out-of-stock" *ngIf="!item.in_stock">
        This item is current out of stock, appologies for any inconvenience.
    </div>
</div>
